<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pos"
        tools:targetApi="31">

        <!-- 🌟 UTAMA: Menetapkan Halaman Login Sebagai Pembuka Aplikasi -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".PilihProdukActivity" android:exported="false" />
        <activity android:name=".TambahKategoriActivity" android:exported="false" />
        <activity android:name=".DaftarProdukActivity" android:exported="false" />
        <activity android:name=".DataKategoriActivity" android:exported="false" />
        <activity android:name=".PembayaranActivity" android:exported="false" />
        <activity android:name=".AccountActivity" android:exported="false" />
        <activity android:name=".AddEmployeeActivity" android:exported="false" />
        <activity android:name=".AddOutletActivity" android:exported="false" />
        <activity android:name=".PrinterActivity" android:exported="false" />
        <activity android:name=".LaporanActivity" android:exported="false" />
        <activity android:name=".CetakStrukActivity" android:exported="false" />

    </application>
</manifest>